<!DOCTYPE html>
<html>
<head>
    <title>Assignment 3</title>
</head>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
</div>
<div>
    <form action="{{url_for('earthquake_clusters')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Earthquake Clusters</legend>
            <label>Graph for earthquake clusters using Mag</label><br><br>
            <a href="/earthquakeclusters"><input type="submit" value="Find"></a>
        </fieldset>
    </form>
</div>
</body>
</html>