<!DOCTYPE html>
<html>
<head>
    <title>Assignment 3</title>
</head>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
</div>
<div>
    <form action="{{url_for('earthquake_clusters')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Earthquake Clusters</legend>
            <label>Graph for earthquake clusters using Mag</label><br><br>
            <a href="/earthquakeclusters"><input type="submit" value="Find"></a>
        </fieldset>
    </form>

    <form action="{{url_for('earthquake_clusters_magtype')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Earthquake Clusters based on Magnitude Type</legend>
            <label>Graph for earthquake clusters using Magnitude type</label><br><br>
            <a href="/earthquakeclustersmagtype"><input type="submit" value="Find"></a>
        </fieldset>
    </form>

    <form action="{{url_for('depth_mag')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Earthquake Clusters based on Latitude Longitude</legend>
            <label>Graph based on latitude and longitude</label><br><br>
            <a href="/depthmag"><input type="submit" value="Find"></a>
        </fieldset>
    </form>

    <form action="{{url_for('location_source')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Earthquakes based on location</legend>
            <label>Graph based on location source</label><br><br>
            <label for="areas">Select the Area</label>
            <select name="areas" id="areas">
                {% for values in location %}
                <option value="{{values}}">{{values}}</option>
                {% endfor %}
            </select>
            <a href="/locationsource"><input type="submit" value="Find"></a>
        </fieldset>
    </form>
</div>
</body>
</html>